rapSchema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = song

song = element {head, lyrics}

head = element head {songTitle, artist, featuredArtist*, producer, album, certification}

songTitle = element songTitle {text}
artist = element artist {text}
featuredArtist = element featuredArtist {text}
producer = element producer {text}
album = element album {text}
certification = element certification {text}

lyrics = 